{
    "extends": "eslint-config-xbsoftware/2__single_quotes_and_spaces",
    "root": true,
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 9,
        "ecmaFeatures": {
        "experimentalObjectRestSpread": true}
    },
    "env": {
        "node": true,
        "es6": true
    },
    "globals":{
        "webix":true
    },
    "rules":{
        "no-await-in-loop":0,
        "valid-jsdoc": [2, {
            "requireReturn":false,
            "requireParamDescription": false
        }]
    }
}